
* {
    box-sizing: border-box;
}


body{

    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid blue;
}


.navbar {
    max-width: 1280px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar_menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
   
}

.navbar_item {
    margin-right: 40px;
    margin-left: 40px;
    
}

.link_item {
    color:white;
    text-decoration: none;
}

.navbar_contact {
    text-align: right;
}


.navbar_text {
    color:white;
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;

}

.navbar_phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color:white;
}
